*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px 20px 20px 60px;
    margin-left: 50px;
    background-image: url(/assets/bg.jpg)
    }